h1 {
  color: white;
  text-align: center;
}
span{
  font-weight: bold;
  font-style: italic;
  font-size: 60px;
  padding-right: 5%;
}
p{
  color: white;
}
.js-clock {
  color: white;
}
.js-clock h1 {
  font-size: 7rem;
}
.btn {
  cursor: pointer;
}
.delBtn{
  font-size: 40px;
}
.clicked {
  color: white;
}
.js-weather {
  text-align: right;
  font-size: 40px;
  color: white;
}
.form {
  color: white;
  display: none;
  font-size: 20px;
}
.greeting {
  color: white;
  display: none;
  font-size: 50px;
}
.showing {
  display: block;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
